<a href="https://colab.research.google.com/github/vSureshbabuchitturi/Python_DS/blob/main/ChvSureshBabu_Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  kindly perform coding in the blank cells provided below the questions. Once completed, please share this python file for review.

### 1.Create two numbers. One float another integer. Add two numbers and print the result in           integer format.

In [1]:
#Declare 2 Variable Int & float with values which can define type
a=10
b=10.5

# Type Checking
print(type(a))
print(type(b))

#adding number and converting result to integer
print(f"sum of given number :{a},{b} and result as integer is :{int(a+b)}")

<class 'int'>
<class 'float'>
sum of given number :10,10.5 and result as integer is :20

### 2. Create a list with numbers 1 to 10 and sort it in ascending and descending order.

In [2]:
# Example list
numbers = [1,2,3,4,5,6,7,8,9,10]

# Sort in ascending order
numbers.sort()
print("Ascending:", numbers)

# Sort in descending order
numbers.sort(reverse=True)
print("Descending:", numbers)

Ascending: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Descending: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3.	Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result.

Ensure to include a descriptive text in the print statement to provide context for the displayed output, aiding in understanding the results

Example : print('sum of all numbers in the list except 5 and 7:', result)

In [3]:
# Create the list with numbers from 1 to 10
numbers = list(range(1, 11))
# Initialize the sum variable
sum_numbers=0
# Loop through the list and sum up all numbers except 5 and 7
for i in numbers:
    if i != 5 and i != 7:
        sum_numbers +=i
#result print
print(f"Sum of all numberd in given list except 5,7:{sum_numbers}")

Sum of all numberd in given list except 5,7:43

### 4. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3.  Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [ ]:
#Define empty list
list1=[]
#define variable to check start and end
i=1
#while loop to run till equal to 100
while i<=100:
#Avoid the number divisable by 3
    if i%3!=0:
# If not divisible by 3, add it to the list
        list1.append(i)
#Increment the Current varaible counter
    i+=1
#print Result
print(f"The result shows 1 to 100 but skip numbers divisble by 3: {list1}")

The result shows 1 to 100 but skip numbers divisble by 3: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

### 5.Create a dictionary with 5 key pair values. Key would be a grocery item name and value will be its price (any value in the range of 100 to 1000). (take any grocery items) Write a for loop to iterate over a dictionary and print key-value pairs. While printing if the value is greater Rs. 500 then print a line – “this is a costly item.”

In [ ]:
#create a dictinary
grocery={'Soap':101,'Facecream':200,'icecream':501,'shampoo':600,'atta':250}
#Iterate over the dictionary and print key-value pairs
for i,p in grocery.items():
    print(i,p)
#Condition to check price >500 and print as costly item
    if p>500:
        print("this is a costly Item")

Soap 101
Facecream 200
icecream 501
this is a costly Item
shampoo 600
this is a costly Item
atta 250

### 6. In the dictionary created in Task 3 delete the key value pairs where price is less than average price of all the items in the dictionary.

In [ ]:
#create a dictinary
grocery={'Soap':101,'Facecream':200,'icecream':501,'shampoo':600,'atta':250}
#calculate sum and length for average calc
gsum=sum(grocery.values())
glen=len(grocery)
gavg=gsum/glen
#print(gsum)
#print(glen)
#print(gavg)
#creating list for items to be removed and load into that
below_avg_grocery=[i for i,p in grocery.items()  if p<gavg]

print(f"items to remove as below average rate:{below_avg_grocery}")


#Remove the key values pair by removing keys from list identified
for i in below_avg_grocery:
    del grocery[i]

print(f"Update dictonary:{grocery}")

items to remove as below average rate:['Soap', 'Facecream', 'atta']
Update dictonary:{'icecream': 501, 'shampoo': 600}

### 7. Create a function which takes 2 numbers as inputs and returns the following three values. Addition of two numbers. Subtraction of two numbers. Multiplication of two numbers

In [ ]:
#function with 2 inputs as position variables with default values
def two_number(num1=10,num2=20):
#sum
    sum_number=num1+num2
#subtarct
    sub_numbers=num1-num2
#multiplication
    muly_numbers=num1*num2
#returns all above values when fuction is called
    return (f"sum of numbers:{sum_number} Subtraction of numbers:{sub_numbers} Multiplication of numbers :{muly_numbers}")
#calling a function with run time values as i/p
two_number(40,30)

'sum of numbers:70 Subtraction of numbers:10 Multiplication of numbers :1200'

## 8.	“i live in india since my childhood”. Count number of i in this text

In [ ]:
#i/p Srting
input_string='i live in india since my childhood'
string_lentgh=len(input_string)
#print(string_lentgh)
#using the count function of string
count_i=input_string.count('i')
#print the result
print(f"The number of i's in given string:{count_i}")

The number of i's in given string:7

### 9.	data = [1,2,3,4,6,7,7,8,9,9]. Drop duplicate values from this list and print the remaining numbers.

In [ ]:
#List data
data = [1,2,3,4,6,7,7,8,9,9]
print(f"Original data list:{data}")
#converting into set drop duplicate values
data1=set(data)
#print(data1)
#convert back to list
data=list(data1)
print(f"Updated data list:{data}")

Original data list:[1, 2, 3, 4, 6, 7, 7, 8, 9, 9]
Updated data list:[1, 2, 3, 4, 6, 7, 8, 9]

### 10.	If you are given two lists create a dictionary from it. keys_list = [1,2,3,4] values_list = [‘ind’, ‘aus’, ‘eng’ , ‘pak’]

In [ ]:
#given data lists
keys_list = [1,2,3,4]
values_list = ['ind', 'aus', 'eng' , 'pak']
#using dict type function and zip we can gules to lists as key values pair
new_dict=dict(zip(keys_list,values_list))
print(f"New dictonary from 2 given list:{new_dict}")

New dictonary from 2 given list:{1: 'ind', 2: 'aus', 3: 'eng', 4: 'pak'}

### 11.	How do you check if a variable is of a certain data type in Python?

In [ ]:
#using type function
a=10
b=2.5
c='India'
d=[1,2,'abc',[123,234]]
e=(1,2,[1,2],3,4)
f={1,2,3,1,2}
g={1:'ind',2:'aus',3:'nz',4:'pak',3:'ban'}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(f"Duplicate values are ignored in set:{f}")
print(type(g))
print(f"Duplicate Key values are overwritten with last values in Dict:{g}")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
Duplicate values are ignored in set:{1, 2, 3}
<class 'dict'>
Duplicate Key values are overwritten with last values in Dict:{1: 'ind', 2: 'aus', 3: 'ban', 4: 'pak'}

### 12.	Write a program that prints the first 10 natural numbers.

In [ ]:
#using for and range
for n in range(1, 11):

# Print the list
    print(n)

1
2
3
4
5
6
7
8
9
10

### 13.	Write a python code to find last 4 characters of a string : 'Machine Learning'

In [ ]:
#given String
st= 'Machine Learning'
#using negative index -4 is to -1 (incluing -1)
last4=st[-4:]
print(f"Last four charters of given string:{last4.upper()}")

Last four charters of given string:NING

### 14.	Write a python code to remove blank space from string : 'P y t h o n'

In [ ]:
#given String
st= 'P y t h o n'
#replace spaces in between
print(st.replace(" ",""))

Python

### 15.Write a python code to remove trailing space from string: ‘Machine Learning.            ’

In [ ]:
#given String
st= 'Machine Learning. '
#strip function kills spaces in begnning and ending
print(st.strip())

Machine Learning.

### 16.Write a python code to print the summation of all the numbers from 1 to 100

In [ ]:
#using for loop
sum_range=0
for i in range(1,101):
    sum_range+=i
print(f"using loop sum of 1 to 100: {sum_range}")
#using while
sum_while=0
i=1
while i<=100:
    sum_while+=i
    i+=1
print(f"using while sum of 1 to 100: {sum_while}")

#sum function
total_sum=sum(range(1,101))
print(f"using sum function sum of 1 to 100: {total_sum}")

using loop sum of 1 to 100: 5050
using while sum of 1 to 100: 5050
using sum function sum of 1 to 100: 5050

### 17.Write a python code to find the second largest number in a list: [21,44,767,98,37,106,345,87]

In [ ]:
#given list
list1=[21,44,767,98,37,106,345,87]
#get max from list
max_in_list=max(list1)
#sort will reaarnge in ascending order
list1.sort()
#last but one will be the second largest, using negative index we can
print(list1[-2])

345

### 18. Write a python code to check given character is digit or not : 265

In [ ]:
#given i/p
a="265"
print(type(a))
# is digit function give the given string is digit or not
print(f"The Given char is digit:{a.isdigit()}")

<class 'str'>
The Given char is digit:True

### 19.	Write a python code to Convert a string to lowercase : ‘MACHINE LEARNING’

In [ ]:
#given string
a='MACHINE LEARNING'
# lower function will convert into upper case
print(f"The lower case for given string : {a.lower()}")

The lower case for given string : machine learning

### 20.Write a Python program to find the common elements between two lists.

In [ ]:
#define 2 lists
list1=[1,2,3,'a','b','c']
list2=['a','b','de','ef','ca']
#for loops to check in list1 is avaliable in list 2
common_elements=[]
for i in list1:
    if i in list2:
        common_elements.append(i)
print(f"commen b/w 2 list:{common_elements}")

commen b/w 2 list:['a', 'b']

### 21.Write a python function to calculate the factorial of a given integer 10

In [ ]:
# Create the function
def fact_numbers(n):
# Initialize the  variable
    fac_num=1
# Loop through for mutiply
    for i in range(1, n + 1):
        fac_num *= i
    return fac_num
# define value for function
b = 10
#result print
print(f"The factorial number for {b} is :{fact_numbers(b)}")

The factorial number for 10 is :3628800

### 22.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [ ]:
#given list
list1=[21,44,22,878,55,90,17,68,69,91]
#define 2 empty list to capture even and odd
odd_list=[]
even_list=[]
#for loop with condition to identify even else got odd
for i in list1:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
#print result
print(f"even list :{even_list}")
print(f"Odd list :{odd_list}")

even list :[44, 22, 878, 90, 68]
Odd list :[21, 55, 17, 69, 91]

### 23.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [ ]:
#given list
list1=[21,44,767,98,37]
#declare variable
sum_list=0
#for loop to sum
for i in list1:
    sum_list+=i
print(f"The sum of all numbers in the list:{sum_list}")

The sum of all numbers in the list:967

### 24.Write a python code to find square and cube of every number in a given list of integers using Lambda. list1 = [12,3,41,7,9,111]

In [ ]:
#given list
list1 = [12,3,41,7,9,111]

#map function to calculate cube and square
listsquare=list(map(lambda i:i**2,list1))
print(f"square of given list:{listsquare}")
listcube=list(map(lambda i:i**3,list1))
print(f"cube of given list:{listcube}")

square of given list:[144, 9, 1681, 49, 81, 12321]
cube of given list:[1728, 27, 68921, 343, 729, 1367631]

### 25.Write a python code to count the number of occurrences of a character ‘e’ in a string. ‘Machine Learning and Deep Learning’

In [ ]:
#given string
st='Machine Learning and Deep Learning'
print(f"The count of e's in given string :{st} is :{st.count('e')}")

The count of e's in given string :Machine Learning and Deep Learning is :5

### 26. calculate the absolute value of a number -564

In [ ]:
#given number
a=-564
print(f"abosulte value of : {a} is :{abs(a)}")

abosulte value of : -564 is :564

### 27.	Write a python code to check if a string contains only alphabetic characters. String = ‘HelloPython’

In [ ]:
#given string
str1 = 'HelloPython'
print(str1.isalpha())

True

### 28.	Create two separate dictionaries and Merge them.

In [ ]:
#dict
dict1={1:'soap',2:'shampoo',3:'conditiner'}
dict2={4:'atta',5:'noodles',6:'apple'}
#unpacking * for list ,** for dict
dict3={**dict1, **dict2}
print(dict3)

{1: 'soap', 2: 'shampoo', 3: 'conditiner', 4: 'atta', 5: 'noodles', 6: 'apple'}

### 29.Write a python code to filter odd numbers from the list using filter () function. List1 = [12,3,41,7,9,111]

In [ ]:
#given list
List1 = [12, 3, 41, 7, 9, 111]

# Use filter function to filter odd numbers
odd_numbers = list(filter(lambda x: x % 2 != 0, List1))

# Print the result
print(f"Odd numbers: {odd_numbers}")

Odd numbers: [3, 41, 7, 9, 111]

### 30.Create a function that checks if a given number is even or odd.

In [ ]:
def odd_even(a):
    if a==0:
        print(f"Given number :{a} is niether even nor odd ")
    elif a%2==0:
        print(f"Given number :{a} is even")
    else:
        print(f"Given number :{a} is odd")
odd_even(7)

Given number :7 is odd

### 31.	Create a function to find the sum of all even numbers in a list. list1 = [ 21,44,767,98,37]

In [ ]:
list1 = [ 21,44,767,98,37]
#function to find the sum of all even numbers in a list
def sum_even(a):
    sum_all=0
    for i in a:
        if i%2==0:
            sum_all+=i
    return sum_all
sum_even(list1)

142

### 32.Write a Python program to find the maximum and minimum values in a list. list1 = [ 21,44,767,98,37]

In [ ]:
#given list
list1 = [ 21,44,767,98,37]
#use max and min functions
print(f"Max in given list:{max(list1)}")
print(f"Min in given list:{min(list1)}")

Max in given list:767
Min in given list:21

### 33.	Write a function to remove duplicate elements from a list.

In [ ]:
#define list
list1=[1,4,5,6,1,2,1,2]
#simply converting to set will remove duplicate but changes order so will try with loop to maintain order remove next occurences
def rem_duplicate(a):
    empty_list=[]
    for i in a:
        if i not in empty_list:
            empty_list.append(i)
    return empty_list
rem_duplicate(list1)

#list2=[1,4,5,6,1,2,1,2]
#list3=set(list1)
#print(list3)

[1, 4, 5, 6, 2]

### 34.	Create a Python dictionary with keys as cars and values as their respective prices.
### car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
### car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

In [ ]:
#given lists
car_models = ["Toyota Camry", "Honda Civic", "Ford Mustang", "Chevrolet Silverado", "Nissan Altima"]
car_prices = [2500000, 2200000, 4000000, 3500000, 2300000]

New_dict=dict(zip(car_models,car_prices))
print(f"New dictionary:{New_dict}")

New dictionary:{'Toyota Camry': 2500000, 'Honda Civic': 2200000, 'Ford Mustang': 4000000, 'Chevrolet Silverado': 3500000, 'Nissan Altima': 2300000}

### 35.	Create a Python function to reverse a string.

In [ ]:
def reverse_str(a):
    rvr_str=""
    n=len(a)
#this is using slicing funtion
    #rvr_str=a[::-1]
#using for loop and adding each letter to start of other empty string
    for i in a:
        rvr_str=i+rvr_str
    return rvr_str

reverse_str("hello")

'olleh'

### 36.	Calculate the mean of a list of numbers. [ 21,44,767,98,37]

In [ ]:
#given list
list1=[ 21,44,767,98,37]
#mean is sum of all numbers by count of numbers
n=len(list1)
list_sum=sum(list1)
mean=list_sum/n
print(f"Mean of the given:{list1} if {mean}")

Mean of the given:[21, 44, 767, 98, 37] if 193.4

### 37.	Write a python code to check if a number is positive, negative, or zero.

In [ ]:
def numbers_fun(a):
    if a==0:
        print(f"Zero")
    elif a>0:
        print("positive")
    else:
        print("negative")
numbers_fun(0)

Zero

### 38.	Find the length of the longest word in a string: ‘Data Science and Machine Learning’

You have to Find the length of the longest word in a string

In [ ]:
#Split function splits based on whit space
str1="Data Science and Machine Learning"
words = str1.split()
# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words to find the longest one in last occurence if same length occurs more than once
for i in words:
    if len(i) >= max_length:
        longest_word = i
        max_length = len(i)

print(f"The length of the longest word in given string is :{len(longest_word)}")

The length of the longest word in given string is :8

In [ ]:
import pandas as pd
help(pd)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)